* {
  margin: auto;
  box-sizing: border-box;
}

body {
  width: 500px;
}
.header {
  padding: 10px;
  height: 12vh;
  justify-content: space-between;
  background-color: rgba(255, 153, 0, 0.323);
}
.header_element {
  margin-bottom: 5px;
}

#switchToApp {
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 0.7rem;
  width: 100px;
  height: 30px;
  cursor: pointer;
}

.switchToApp:hover {
  background-color: white;
  color: black;
}

#cleartripIcon {
  height: 10vh;
  width: 30vw;
  object-fit: contain;
  margin-left: 10px;
}
#loginButton {
  background-color: white;
  color: grey;
  border-radius: 15px;
  margin-right: 10px;
}
#userIcon {
  height: 20px;
  width: 30px;
  object-fit: contain;
}
.cleartripLogin {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.icon {
  height: 40px;
  width: 40px;
  object-fit: contain;
}
.bodyIcons {
  display: flex;
  justify-content: space-around;
}
.bodyIconText {
  font-size: 1.5rem;
}

.iconContainer {
  width: 150px;
  display: flex;
  /* justify-content: space-between; */
}
